:root {
    --headerbg: rgb(68, 62, 62);
    --colortext: aqua;
}

* {
    color: var(--colortext);
}

header {
    background-color: var(--headerbg);
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 36px;
    text-decoration: underline;
}

li {
    margin-right: 5px;
}

aside {
    text-align: center;
    background-color: darkblue;
    padding: 50px;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 960px;
    background-color: darkblue;
    height: fit-content;
    justify-content: flex-start;
}

h2 {
    margin-left: 50px;
}

footer {
    text-align: center;
    background-color: var(--headerbg);
}

.refactor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
/*
#contact {
    margin-top: 500px;
}
*/
 main {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .refactor .form {
        width: 50%;
    }
    
}

@media screen and (max-width: 768px){
    .refactor .form{
        width: 25%;
    }
}