:root {
    --headerbg: rgb(68, 62, 62);
    --colortext: aqua;
}

* {
    color: var(--colortext);
}

header {
    background-color: var(--headerbg);
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

li {
    margin-right: 5px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    width: fit-content;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 300px;
    max-width: 600px;
}

h2 {
    margin-left: 50px;
}

footer {
    display: flex;
    justify-content: center;
}
